<template>
  <div class="article-page">
    <router-link :to="{name: 'main'}">назад</router-link>
    <Article :article="article"/>
    <div class="article-page__controls">
      <edit-link :slug="slug"/>
      <delete-link :slug="slug"/>
    </div>
  </div>
</template>

<script>
import Article from '../components/Article.vue';
import EditLink from '../components/EditLink.vue';
import DeleteLink from '../components/DeleteLink.vue';

export default {
  name: 'ArticlePage',
  props: {
    slug: {
      type: String,
      required: true,
    },
  },
  components: {
    Article,
    EditLink,
    DeleteLink,
  },
  computed: {
    article() {
      return this.$store.getters.getArticle(this.slug);
    },
  },
};
</script>

<style scoped lang="scss">
  .article-page__controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .delete-link {
    margin-left: 10px;
  }
</style>
