<template>
  <div class="create-page">
    <router-link :to="{name: 'main'}">назад</router-link>
    <article-forms/>
  </div>
</template>

<script>
import ArticleForms from '../components/ArticleForms.vue';

export default {
  name: 'CreatePage',
  components: {
    ArticleForms,
  },
};
</script>

<style scoped lang="scss">

</style>
