<template>
  <div class="delete-page">
    <div class="delete-title">Вы действительно хотите удалить статью?</div>
    <button
      @click="deleteArticle()"
      class="delete-buttons">Удалить</button>
    <router-link :to="{name: 'main'}" class="delete-title">Отменить</router-link>
  </div>
</template>

<script>
export default {
  name: 'DeletePage',
  props: {
    slug: {
      type: String,
      required: true,
    },
  },
  methods: {
    deleteArticle() {
      this.$store.commit('DELETE_FROM_STATE', this.slug);
      this.$router.push({ name: 'main' });
    },
  },
};
</script>

<style scoped lang="scss">

</style>
