<template>
  <div class="edit-page">
    <router-link :to="{name: 'main'}">назад</router-link>
    <article-forms :slug="slug"/>
  </div>
</template>

<script>
import ArticleForms from '../components/ArticleForms.vue';

export default {
  name: 'EditPage',
  props: {
    slug: {
      type: String,
      required: true,
    },
  },
  components: {
    ArticleForms,
  },
};
</script>

<style scoped>

</style>

