<template>
  <div class="main-page">
    <h2 class="main-page__title">Список статей</h2>
    <div class="article-list">
      <div
        v-for="(article, index) of articles"
        :key="index"
        class="article-item">
        <div class="article-item__title">{{article.name}}</div>
        <router-link
          :to="{name: 'article-page', params: {slug: article.slug} }"
          :slug="article.slug"
        >Перейти</router-link>
        <edit-link :slug="article.slug"/>
        <delete-link :slug="article.slug"/>
      </div>
    </div>
    <router-link :to="{name: 'create-page'}">Создание статьи</router-link>
  </div>
</template>

<script>
import EditLink from '../components/EditLink.vue';
import DeleteLink from '../components/DeleteLink.vue';

export default {
  name: 'MainPage',
  components: {
    EditLink,
    DeleteLink,
  },
  computed: {
    articles() {
      return this.$store.getters.getArticles;
    },
  },
};
</script>

<style scoped lang="scss">
  .article-list {
    margin-bottom: 20px;
  }
  .article-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
  }
</style>
