<template>
  <div>
    <label
      class="form-label"
      for="name">
      Название статьи
      <input
        class="form-input"
        type="text"
        id="name"
        v-model="input.name">
    </label>
    <label
      class="form-label"
      for="content">
      Содержимое статьи
      <input
        class="form-input"
        type="text"
        id="content"
        v-model="input.content">
    </label>
    <label
      :class="{error: error && !validSLug}"
      class="form-label"
      for="slug">
      Код статьи
      <input
        class="form-input"
        type="text"
        id="slug"
        v-model="input.slug">
    </label>
    <label
      :class="{error: error && !validDateStart}"
      class="form-label" for="date-start">
      Дата начала:
      <input
        class="form-input"
        type="text"
        id="date-start"
        v-model="input.dateStart">
    </label>
    <label
      :class="{error: error && !validDateEnd}"
      class="form-label"
      for="date-end">
      Дата конца:
      <input
        class="form-input"
        type="text"
        id="date-end"
        v-model="input.dateEnd">
    </label>
    <div v-if="!notEmpty">Поля не должны быть пустыми</div>
    <div v-if="error">Произошла ошибка</div>
    <template v-if="slug">
      <button @click="update()">Применить</button>
    </template>
    <template v-else>
      <button @click="create()">Применить</button>
    </template>
    <button @click="save()">Сохранить</button>
  </div>
</template>

<script>
export default {
  name: 'ArticleForms',
  data: () => ({
    input: {
      name: '',
      content: '',
      slug: '',
      dateStart: '',
      dateEnd: '',
    },
    error: false,
  }),
  props: {
    slug: {
      type: String,
      default: '',
    },
  },
  computed: {
    article() {
      return this.$store.getters.getArticle(this.slug);
    },
    notEmpty() {
      return this.input.name !== ''
        && this.input.content !== ''
        && this.input.slug !== ''
        && this.input.dateStart !== ''
        && this.input.dateEnd !== '';
    },
    isValid() {
      return this.isDateStringValid(this.input.dateEnd)
        && this.isDateStringValid(this.input.dateStart)
        && this.validSLug;
    },
    validSLug() {
      const regExp = '[a-z\\d_]+';
      const matchString = this.input.slug.match(regExp);
      return !!matchString && matchString[0] === this.input.slug;
    },
    validDateStart() {
      return this.isDateStringValid(this.input.dateStart);
    },
    validDateEnd() {
      return this.isDateStringValid(this.input.dateEnd);
    },
  },
  created() {
    this.isEdit();
  },
  methods: {
    isEdit() {
      if (this.slug !== '') {
        this.input.name = this.article.name;
        this.input.content = this.article.content;
        this.input.slug = this.article.slug;
        this.input.dateStart = this.article.active_date_from;
        this.input.dateEnd = this.article.active_date_to;
      }
    },
    isDateStringValid(date) {
      const regExp = /\d{4}(-\d{2}){0,2}(T\d{2}(:\d{2}){2}.\d{3}([+-]\d{2}:\d{2}){0,1}){0,1}/;
      return (regExp.test(date)) && !Number.isNaN((new Date(date)).valueOf());
    },
    update() {
      this.error = false;
      if (this.notEmpty && this.isValid) {
        this.$store.commit('UPDATE_ARTICLE', { id: this.article.id, form: this.input });
      } else {
        this.error = true;
      }
    },
    create() {
      this.error = false;
      if (this.notEmpty && this.isValid) {
        this.$store.commit('CREATE_ARTICLE', this.input);
      } else {
        this.error = true;
      }
    },
    save() {
      if (this.slug !== '') {
        this.update();
      }
      if (!this.slug && !this.$store.getters.getArticle(this.input.slug)) {
        this.create();
      }
      if (!this.error) {
        this.$router.push({ name: 'main' });
      }
    },
  },
};
</script>

<style scoped lang="scss">
  .form-label {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    &.error {
      color: red;
      input {
        border-color: red;
      }
    }
  }
  .form-input {
    width: 100%;
    display: block;
    padding: 10px;
  }
</style>
