<template>
  <div class="article">
    <div class="article-title">{{ article.name }}</div>
    <div class="article-content">{{ article.content }}</div>
    <div class="article-content">Дата начала: {{ article.active_date_from }}</div>
    <div class="article-content">Дата конца: {{ article.active_date_to }}</div>
    <div class="article-content">id: {{ article.id }}</div>
    <div class="article-content">slug: {{ article.slug }}</div>
    <div v-if="getMeta.length" class="article-content">Мета-теги:
      <div
        class="meta-tag"
        v-for="(meta, index) of getMeta"
        :key="index">{{meta[0]}}: {{meta[1]}}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Article',
  props: {
    article: {
      type: Object,
      required: true,
    },
  },
  computed: {
    getMeta() {
      return !!this.article.meta_tags && Array.from(this.article.meta_tags);
    },
  },
};
</script>

<style scoped lang="scss">
  .article {
    margin-top: 10px;
  }
  .article-title,
  .article-content {
    margin-bottom: 10px;
  }
  .meta-tag {
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
  }
</style>
