<template>
  <router-link
    class="delete-link"
    :to="{name: 'delete-page', params: { slug }}">Удаление статьи</router-link>
</template>

<script>
export default {
  name: 'DeleteLink',
  props: {
    slug: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">

</style>
