<template>
  <router-link :to="{name: 'edit-page', params: { slug } }">Редактирование статьи</router-link>
</template>

<script>
export default {
  name: 'EditLink',
  props: {
    slug: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">

</style>
